* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}

.radio-div {
  position: absolute;
  padding: 0px;
  top: .5rem;
  left: .5rem;
  background: rgba(255, 255, 255, 0.4);
  width: 9rem;
  height: 8rem;
  border-radius: 7px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.empire-div{
  position: absolute;
  padding: 0px;
  top: 10rem;
  left: 0.5rem;
  background: rgba(255, 255, 255, 0.4);
  width: 9rem;
  height: 6rem;
  border-radius: 7px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.empire-choice-div{
  position: absolute;
  padding: 0px;
  top: 12px;
  left: 27%;
  background: rgba(255, 255, 255, 0.7);
  width: 49.5rem;
  height: 3rem;
  border-radius: 7px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  z-index: 1;
  display: none;
}

#new-point-info-div{
  position: absolute;
  padding: 0px;
  bottom: 1rem;
  /* left: 20rem; */
  background: rgba(255, 255, 255, 0.7);
  width: auto;
  height: auto;
  /* border-radius: 7px; */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  z-index: 1;
  /*display: none;*/
}

#place-point-div{
  position: absolute;
  padding: 0px;
  top: 17.5rem;
  left: .5rem;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 7px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.check-container, .check-empire-container, .check-empire-choice-container {
  position: absolute;
  z-index: 1;
  font-size: 14px;
}

.map-div {
position: absolute;
width: 100%;
height: 100%;
background: #eee;
}

/*Sidebox buttons*/
.check-container, .check-empire-container {
  display: block;
  position: relative;
  padding-top: 15px;
  padding-left: 40px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.check-empire-choice-container {
  display: inline-block;
  position: relative;
  padding-top: 15px;
  padding-left: 40px;
  margin-bottom: 12px;
  /* cursor: pointer; */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.check-container input, .check-empire-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.check-empire-choice-container input {
  position: absolute;
  opacity: 0;
  z-index: 2;
}

/* -----RADIO BUTTONS----- */
.checkmark {
  position: absolute;
  top:15px;
  left: 15px;
  height: 15px;
  width: 15px;
  background-color: rgb(61, 93, 182);
  border-radius: 50%;
  z-index: 2;
}

/* On mouse-over, add a grey background color */
.check-container:hover input ~ .checkmark, .check-empire-container:hover input ~ .checkmark{
  background-color: #2196F3;
}

/* When the radio button is checked, add a blue background */
.check-container input:checked ~ .checkmark, .check-empire-container input:checked ~ .checkmark, .check-empire-choice-container input:checked ~ .checkmark{
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.check-container input:checked ~ .checkmark:after, .check-empire-container input:checked ~ .checkmark:after, .check-empire-choice-container input:checked ~ .checkmark:after{
  display: block;
}

/* Style the indicator (dot/circle) */
.check-container .checkmark:after, .check-empire-container .checkmark:after, .check-empire-choice-container .checkmark:after {
  top: 4px;
  left: 4px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: white;
}

/* ------Feature Overlay------ */
.overlay-container-countries, .overlay-container-attractions, .overlay-container-empires{
  background: rgba(246, 246, 246, 0.8);
  width: 180px;
  text-align: center;
  border-radius: 1px;
  padding: 3px;
  position: absolute;
  z-index: 1;
  bottom: 1.5rem;
  left: -8px;
  margin-left: -80px;
  border-radius: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  height: auto;
}

.overlay-text{
  color: rgba(0, 0, 0, 1);
  opacity: 1;
}

.overlay-container-countries #feature-additional-info::after, .overlay-container-empires #feature-year::after{
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.overlay-container-attractions #feature-address::after{
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

#feature-name, #feature-attraction-name, #feature-empire-name{
  font-size: larger;
  font-weight: bold;
}

#feature-additional-info, #feature-address, #feature-year{
  font-size: smaller;
}

#feature-address{
  cursor: pointer;
}

#attraction-info-div {
position: absolute;
  padding: 0px;
  top: 50px;
  left: 83.5%;
  background: rgba(255, 255, 255, 0.8);
  width: 13rem;
  height: 14.5rem;
  overflow: auto;
  border-radius: 7px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  z-index: 1;
  display: none;
}

.attraction-text {
position: absolute;
font-size: 14px;
margin: 15px;
}

#attraction-name {
font-style: italic;
color: #555;
}

#attraction-description {
font-weight: 500;
}

.search-div {
  position: absolute;
  padding: 0px;
  top: 10px;
  left: 70%;
  background: rgba(255, 255, 255, 0.8);
  overflow: auto;
  border-radius: 7px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

#search-input {
  width: 25rem;
  height: 2rem;
}